@import 'tailwindcss';

@theme {
  --color-akaroa: #d4baa5;
  --color-bone: #e2d1c3;
  --color-dustyGray: #d3d3d3;
  --color-international-orange: #ff5400;
  --color-spring-wood: #fdfcfb;
  --color-malibu: #80bdff;
  --color-mineShaft: #222;
}

html,
body {
  background: linear-gradient(
    135deg,
    var(--color-spring-wood),
    var(--color-bone),
    var(--color-akaroa)
  );
  color: var(--color-mineShaft);
  font-family: 'Marmelad', sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 30px;
  text-decoration: underline var(--color-international-orange);
  text-underline-offset: 7px;
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: bold;
  margin: 0 0 30px;
}

p {
  margin-bottom: 2rem;
}

p:last-child {
  margin: 0;
}

figure {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 auto 30px;
  line-height: 1.4;
  padding: 0;
  text-align: center;
}

figure figcaption {
  color: var(--color-international-orange);
}
